<h1>Theramin</h1>

<p>Hold the Mouse down and move left and right to change pitch, move up and down to change the volume. Release the mouse to stop the sound. </p>
<a class="waves-effect waves-teal btn-flat" id="show">Show</a>
<a class="waves-effect waves-teal btn-flat" id="hide">Hide</a>

<h2 class="piano">The Theramin Piano</h4>
<p class="piano">Use the keys as reference to organize your sound</p>

<div class="piano">
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div class="black"></div>
</div>


