<h1>Theramin Piano</h1>

<p>Hold the Mouse down and move left and right to change pitch, move up and down to change the volume. Release the mouse to stop the sound. </p>

<div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="black"></div>
  <div></div>
  <div></div>
  <div class="black"></div>
</div>

<p>Play the keys or just slide the mouse over the page to hear the sounds</p>
